/* GLOBAL */
:root {
  --orange: rgba(233, 138, 21, 0.507);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#active {
  background: var(--orange);
  color: black;
}
.conteiner {
  width: 80%;
  margin: auto;
  overflow: hidden;
  /* background: blue; */
}

/* MAIN */

main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/paragliding.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

/* HEDDER */

#logo {
  margin-top: 20px;
  float: left;
  height: 45px;
}

/* NAVIGATION MENU */

nav {
  float: right;
  margin-top: 10px;
}
.menu {
  list-style: none;
}
.menu li {
  display: inline;
}
.menu a {
  color: white;
  text-transform: capitalize;
  font-size: 25px;
  padding: 1px 15px 1px 15px;
  margin-left: 5px;
  border: 1px solid white;
}
.menu a:hover {
  background: white;
  color: black;
}
/* TITLE */

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}
#slog {
  width: 800px;
}
.button1 {
  padding: 15px 0px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
}
.button1 a {
  color: white;
  padding: 15px 55px;
}
.video {
  position: absolute;
  top: 1px;
  left: calc(50% - 280px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.33s ease-in-out;
  z-index: 999999
}

/* SERVICES PAGE */
.PageContent {
  height: 750px;
  widows: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--orange);
}
.box{
  padding: 15px;
  color:white;
  margin: 40px;
}
.box img{
  float: left;
  margin-right: 15px;
}
.boxtext{
  margin-left: 40px;
}
.box h1{
  margin-top: 0;
}

#moreButton{
  float: right;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 0px;
  border: 1px solid white;
  background: transparent;
  transition: all 0.5s;
}
#moreButton a{
  color: white;
  padding: 15px 55px;
}
#moreButton:hover{
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

/* GALLERY PAGE */
.galery{
  margin: 40px 50px;
  text-align: center;
}
.galery h1{
  font-size: 55px;
  color: white;
}
.galery img{
  display: inline-block;
  padding: 20px;
  width: 250px;
  height: 150px;
  transition: all 1s;
}
.galery img:hover{
  transform: scale(1.1);
}

/* ABOUT PAGE */
.aboutPage{
  padding:  20px 80px;
  text-align: center;
  color: white;
}
.aboutPage p{
  text-align: justify;
}
.aboutPage h1{
  font-size: 55px;
}
.aboutPage h2{
  font-size: 35px;
  padding: 10px 10px;
}
.team{
  height: 150px;
  text-align: center;
  border: 1px dashed var(--orange);
}
figure{
  display: inline-block;
}
.teamimg{
  height: 100px;
}

/* CONTACT PAGE */

.contact {
  text-align: center;
  color: white;
}
.contactForm {
  float: left;
  margin-left: 20%;
  width: 25%;
  text-align: center;
  padding: 10px;
}
.contactForm input,
textarea {
  width: 90%;
  margin: 5px;
  padding: 5px;
}
#contactButton {
  padding: 10px 70px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid white;
  background: transparent;
  color: white;
  transition: all 0.5s;
}
#contactButton:hover{
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}
.contactInfo {
  float: right;
  margin-right: 20%;
  width: 25%;
  height: 400px;
}
.icons {
  border-top: 1px solid white;
  padding-top: 15px;
}
i {
  font-size: 40px;
}
#contactH1 {
  font-size: 55px;
}
#contactH3 {
  font-size: 25px;
  margin-bottom: 60px;
}
.fab {
  transition: all 0.5s;
}
.fab:hover {
  color: var(--orange);
  cursor: pointer;
}
