/* GLOBAL */
:root {
  --orange: rgba(233, 138, 21, 0.507);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#active {
  background: var(--orange);
  color: black;
}
.conteiner {
  width: 80%;
  margin: auto;
  overflow: hidden;
  /* background: blue; */
}

/* MAIN */

main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/paragliding.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

/* HEDDER */

#logo {
  margin-top: 20px;
  float: left;
  height: 45px;
}

/* NAVIGATION MENU */

nav {
  float: right;
  margin-top: 10px;
}
.menu {
  list-style: none;
}
.menu li {
  display: inline;
}
.menu a {
  color: white;
  text-transform: capitalize;
  font-size: 25px;
  padding: 1px 15px 1px 15px;
  margin-left: 5px;
  border: 1px solid white;
}
.menu a:hover {
  background: white;
  color: black;
}
/* TITLE */

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}
#slog {
  width: 800px;
}
.button1 {
  padding: 15px 0px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
}
.button1 a {
  color: white;
  padding: 15px 55px;
}

/* SERVICES PAGE */
.PageContent {
  height: 750px;
  widows: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--orange);
}

/* CONTACT PAGE */

.contact {
  text-align: center;
}
.contactForm {
  float: left;
  margin-left: 20%;
  background-color: var(--orange);
  width: 300px;
  text-align: center;
  padding: 10px;
}
.contactForm input,
textarea {
  width: 90%;
  margin: 5px;
  padding: 5px;
}
#contactButton{
  background-color: crimson;
}
.contactInfo {
  float: right;
  margin-right: 20%;
  width: 300px;
  height: 400px;
  background-color: var(--orange);
}
